@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: hsl(217, 100%, 97%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-background {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 70px;
}

.active {
  background: hsl(206, 94%, 87%);
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(206, 94%, 87%);
}

.step-info {
  display: none;
}

.step-controlls {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 0%, 100%);
}

.next-step {
  margin-right: 16px;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 14px;
}

.back-button {
  margin-left: 16px;
  width: 90px;
  height: 40px;
  text-align: left;
  border: none;
  border-radius: 5px;
  color: hsl(231, 11%, 63%);
  background: transparent;
  font-weight: 700;
  font-size: 14px;
  visibility: hidden;
}

.card-container {
  margin: 0 auto;
  padding: 20px;
  width: 350px;
  background: hsl(0, 0%, 100%);
  height: 550px;
  border-radius: 10px;
  margin-top: -315px;
}

.info-step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
  display: none;
}

.personal-title {
  margin-top: 20px;
  font-size: 26px;
  color: hsl(213, 96%, 18%);
}

.personal-description {
  width: 250px;
  line-height: 25px;
  color: hsl(231, 11%, 63%);
}

.info-inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.name-input,
.email-input,
.phone-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.phone-label,
.email-label,
.name-label {
  font-size: 13px;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.name,
.email,
.phone {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid hsl(229, 24%, 87%);
}

.name::placeholder,
.email::placeholder,
.phone::placeholder {
  color: hsl(229, 24%, 87%);
}

.error-input {
  border: 1px solid hsl(0, 100%, 50%);
}

.error-label {
  visibility: hidden;
  position: absolute;
  right: 5px;
  font-size: 13px;
  font-weight: 500;
  color: hsl(0, 100%, 50%);
}

.plan-step {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
}

.box-offer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arcade,
.advanced,
.pro {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 10px;
  height: 90px;
  border-radius: 10px;
}

.specs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.specs h4 {
  color: hsl(213, 96%, 18%);
}

.pricing {
  color: hsl(231, 11%, 63%);
}

.free-months {
  display: none;
  color: hsl(213, 96%, 18%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 28px;
  margin: 0 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider::before {
  transform: translateX(32px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sub-switch {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(231, 100%, 99%);
}

.monthly,
.yearly {
  font-size: 16px;
}

.monthly {
  color: hsl(213, 96%, 18%);
}

.yearly {
  color: hsl(231, 11%, 63%);
}

.add-ons-step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
}

.add-ons-description {
  width: 320px;
}

.add-ons-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  position: relative;
}

.services-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 200px;
  margin-left: 10px;
}

.text-title {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.text-subtitle {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

.extras {
  font-size: 14px;
  color: hsl(243, 100%, 62%);
  font-weight: 500;
}

.add-on input {
  display: none;
}

.add-on label {
  width: 24px;
  height: 24px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.add-on input:checked + label {
  background-color: hsl(243, 100%, 62%);
}

.add-on input:checked + label::before {
  content: "\2713";
  color: hsl(0, 0%, 100%);
  margin-left: 5px;
  font-weight: 700;
}
